###  Types of arguments in functions

* Default arguments
* Keyword arguments
* arbitary arguments


### Default arguments
*  Function arguments can have default values in python
*  we can assign default values to arguments by using assignment operator '='

In [2]:
def greet(name,msg="welcome to the world"):
    print(name,msg)    
    
greet("ram")

ram welcome to the world

In [3]:
greet("hanuma","is good")

hanuma is good

In [4]:
def greet(name="lavanya",msg):  # default values is not given to 1st parameter
    print(name,msg) 

greet("welcome")

SyntaxError: non-default argument follows default argument (709647305.py, line 1)

### python keyword arguments

* when we call function with some values, these values are assigned to arguments according to 
their position

In [5]:
greet(name="lokesh",msg="good evening")

lokesh good evening

In [6]:
greet(msg="good evening",name="lokesh")

lokesh good evening

In [7]:
greet("sai",msg="good")   # positional , keyword argument

sai good

In [8]:
greet(name="sai",msg)

SyntaxError: positional argument follows keyword argument (1404700595.py, line 1)

In [10]:
### arbitary arguments

def greet(*name):
    for i in name:
        print(i,end=" ")

greet("hima","bhanu","swamy","parvathi")

hima bhanu swamy parvathi

### Comprehension 

* To reduce the lines of code
* syntax : [o/p-variable loop condition]

In [11]:
# List comprehension
# print 1 to 10 numbers

[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
for i in range(1,11):
    print(i,end= " ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# print even numbers in the range of 1 to 100 using comprehension

In [13]:
for i in range(1,101):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [14]:
for i in range(2,101,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [15]:
[i for i in range(1,101) if i%2==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [16]:
#odd numbers in the range(1,100)
[i for i in range(1,101) if i%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [17]:
# squares of natural numbers from 1 to 10
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
# cubes of natural numbers from 1 to 10
[i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [20]:
## dictionary comprehension

d={i:i for i in range(1,11)}  #o/p loop
print(d)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [21]:
# 1:1 , 2:4, 3:9, 4:16......10:100

d={i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
#  write a function to find sum of digits of a number

# 123 -> 1+2+3 -> 6

def digitsum(n):
    sum=0
    while(n!=0):
        sum=sum+(n%10)  # 0+3
        n=n//10
    return sum

n=int(input("enter n value: "))
digitsum(n)

enter n value: 345

12