##### Day Objectives:
        - pandas

##### pandas:
    - pandas stands for python data analysis library
    - it is a open source library
    - it is an excellent tool for data processing and analyzing for real world data.
    
#### library installation
        - pip install pandas

##### library usage:
        - import pandas
    
##### pandas data structures:
        - pandas has two different data structures:
                    - pandas Series
                    - pandas DataFrame
##### pandas Series:
    - it is mainly used to create 1-d dimensional array with named index
    - syntax:
            pandas.Series(list,tuple,dict)
            
##### pandas DataFrame:
    - it is mainly for to create the 2-d dimensional array in the format of rows,columns
    - syntax:
            pandas.DataFrame(list,tuple,dict)

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
pd.__version__

'1.4.4'

##### pandas Series data structure:
    - creating Series object using list,tuple,dictionary,numpy
    - create pandas Series from array like object using pd.Series()
    - the no of elements in the index list is always equals to the no of specified series
    - syntax:
        pd.Series(list,tuple,dict,numpy_array)

In [9]:
# creation of series data structure using list:
l=[89,90,56,67,34,45]
print(l)
print(type(l))
s1=pd.Series(l)
print(s1)
print(type(s1))

[89, 90, 56, 67, 34, 45]
<class 'list'>
0    89
1    90
2    56
3    67
4    34
5    45
dtype: int64
<class 'pandas.core.series.Series'>

In [14]:
# how to access series elements:
print(s1[4])
print(s1[:])
print(s1[::-1])
print(s1[::2])
print(s1[::-2])

34
0    89
1    90
2    56
3    67
4    34
5    45
dtype: int64
5    45
4    34
3    67
2    56
1    90
0    89
dtype: int64
0    89
2    56
4    34
dtype: int64
5    45
3    67
1    90
dtype: int64

In [17]:
li=['python',67.8,89,90]
print(li)
s2=pd.Series(li)
print(s2)

['python', 67.8, 89, 90]
0    python
1      67.8
2        89
3        90
dtype: object

In [21]:
# to change the index names:
s1.index=['A','B','C','D','E','F']
s1

A    89
B    90
C    56
D    67
E    34
F    45
dtype: int64

In [22]:
s1['A']

89

In [23]:
s1['A':'D']

A    89
B    90
C    56
D    67
dtype: int64

In [24]:
s1['C':'F']

C    56
D    67
E    34
F    45
dtype: int64

In [26]:
# How to create pandas series tuple:
t=pd.Series((10,20,45,67))
print(t)
print(type(t))

0    10
1    20
2    45
3    67
dtype: int64
<class 'pandas.core.series.Series'>

In [28]:
t=pd.Series((10,20,45,67),index=[1,2,3,4])
print(t)
print(type(t))

1    10
2    20
3    45
4    67
dtype: int64
<class 'pandas.core.series.Series'>

In [30]:
print(t[:])
print(t[::-1])

1    10
2    20
3    45
4    67
dtype: int64
4    67
3    45
2    20
1    10
dtype: int64

In [31]:
# pandas Series by using dictionary:
d={'name':'srikanya','rno':130659,'section':'A','branch':'CSE','cgpa':9.0}
print(d)

{'name': 'srikanya', 'rno': 130659, 'section': 'A', 'branch': 'CSE', 'cgpa': 9.0}

In [33]:
sd=pd.Series(d)
sd

name       srikanya
rno          130659
section           A
branch          CSE
cgpa            9.0
dtype: object

In [34]:
sd['name']

'srikanya'

In [35]:
sd['cgpa']

9.0

In [36]:
sd['section':'cgpa']

section      A
branch     CSE
cgpa       9.0
dtype: object

In [39]:
#### numpy
import numpy as np

In [42]:
a=np.array([1,2,3,4])
sd2=pd.Series(a)
sd2

0    1
1    2
2    3
3    4
dtype: int32

In [44]:
a1=np.arange(1,10)
sd3=pd.Series(a1)
sd3

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [47]:
print(sd3[5])
print(sd3[:])
print(sd3[::2])

6
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
0    1
2    3
4    5
6    7
8    9
dtype: int32

#### update the series values:
    - replace():
        - using replace() method we can update the series value
        - syntax:
            series_variable.replace(to_replace='old_value',value='new_value')

In [48]:
sr=pd.Series([10,'apssdc',45.67,89,90])
print(sr)

0        10
1    apssdc
2     45.67
3        89
4        90
dtype: object

In [49]:
update=sr.replace(to_replace='apssdc',value='python')
update

0        10
1    python
2     45.67
3        89
4        90
dtype: object

In [50]:
res=sr.replace(45.67,100)
res

0        10
1    apssdc
2       100
3        89
4        90
dtype: object

In [53]:
res2=res.replace(89,100)
res2

0        10
1    apssdc
2       100
3       100
4        90
dtype: object

In [54]:
res3=res2.replace(100,'data analysis')
res3

0               10
1           apssdc
2    data analysis
3    data analysis
4               90
dtype: object

In [55]:
# to update the multiple data from series
res4=res3.replace(to_replace=[10,'data analysis',90],value=[100,'java','c++'])
res4

0       100
1    apssdc
2      java
3      java
4       c++
dtype: object

#### delete the data in series:
        - drop(labels=index_position,inplace=True)

In [56]:
res4

0       100
1    apssdc
2      java
3      java
4       c++
dtype: object

In [57]:
res4.drop(labels=2,inplace=True)

In [58]:
res4

0       100
1    apssdc
3      java
4       c++
dtype: object

In [59]:
res4.drop(labels=[0,4],inplace=True)

In [60]:
res4

1    apssdc
3      java
dtype: object

#### Task:
    - to create the series having index values starts from 10 to 20 and values are thier square root values
    
    ex:
        10   100
        11   121
        12   144
        13    .
        14    .
        15    .
        16    .
        17    .
        18    .
        19    .
        20    400