#### Day Objectives:
        - python Data Structures:
                - list
                - tuple
                - dictionary
                - set

In [2]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

##### tuple:
    - it is a collection of different data items in a single variable
    - by using paranthesis we can write the tuple like this "()"
    - it is immutable(we can not change elements in tuple)
    - it is a collection which is ordered and un changable
    - it allows the duplicate data
    - syntax:
        tuple_variable_name=(e1,e2,e3,e4...en)

In [3]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [4]:
# to store the multiple elements in single variable
t=(10,20,45,'apssdc',56.7,78,9.5)
t

(10, 20, 45, 'apssdc', 56.7, 78, 9.5)

In [5]:
type(t)

tuple

In [7]:
t1=(56,)
print(t1)
print(type(t1))

(56,)
<class 'tuple'>

In [19]:
#### how to access tuple elements:
print(t)
print(t[3])
print(t[5])
print(t[-2])

#### slicing[start_index:end_index+1:step_value]
print(t[:])
print(t[0:7])
print(t[-1:-8:-1])
print(t[::-1])
print(t[::2])
print(t[::-2])

(10, 20, 45, 'apssdc', 56.7, 78, 9.5)
apssdc
78
78
(10, 20, 45, 'apssdc', 56.7, 78, 9.5)
(10, 20, 45, 'apssdc', 56.7, 78, 9.5)
(9.5, 78, 56.7, 'apssdc', 45, 20, 10)
(9.5, 78, 56.7, 'apssdc', 45, 20, 10)
(10, 45, 56.7, 9.5)
(9.5, 56.7, 45, 10)

#### tuple methods:
        - index--> it returns index position of the given element
        - count---> it returns no of occurances of the given element

In [20]:
# index:
t2=(10,20,30,'python','java',56.7,7,10,20,'python')
print(t2)
print(type(t2))

(10, 20, 30, 'python', 'java', 56.7, 7, 10, 20, 'python')
<class 'tuple'>

In [ ]:
### syntax:
        tuple_variable.index(element)

In [23]:
print(t2.index('java'))
print(t2.index('python'))
print(t2.index(10))

4
3
0

In [ ]:
# syntax:
    tuple_variable.count(element)

In [25]:
print(t2.count('python'))
print(t2.count(20))

2
2

In [33]:
#### how to update elements in tuple:
print(t2)
t3=list(t2)
print(t3)
print(type(t3))
# print(t3.index('java'))
t3[4]="C++"
print(t3)
# convert list into tuple
t3=tuple(t3)
t3

(10, 20, 30, 'python', 'java', 56.7, 7, 10, 20, 'python')
[10, 20, 30, 'python', 'java', 56.7, 7, 10, 20, 'python']
<class 'list'>
[10, 20, 30, 'python', 'C++', 56.7, 7, 10, 20, 'python']

(10, 20, 30, 'python', 'C++', 56.7, 7, 10, 20, 'python')

#### set:
    - it is a colletion of different data items in a single variables
    - set is unordered and un indexed
    - for representation we are using curly brackets"{}"
    - set will not allow the duplicate elements
    - in set data can not be update but we can add the new data
    - syntax:
        set_variable_nam={e1,e2,e3,e4....en}

In [35]:
#### to create the empty set:
s=set()
print(type(s))

<class 'set'>

In [36]:
# to store multiple elements in set:
s1={10,20,30,10,20,30,40,11,20}
print(s1)

{20, 40, 10, 11, 30}

In [37]:
for i in s1:
    print(i,end=" ")

20 40 10 11 30

In [38]:
print(s1[0])

TypeError: 'set' object is not subscriptable

In [39]:
# set methods
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [40]:
print(s1)

{20, 40, 10, 11, 30}

#### add:
    - to add the new element to the set
    - syntax:
        set_variable.add(new_element)

In [41]:
print(s1)

{20, 40, 10, 11, 30}

In [44]:
s1.add(100)
print(s1)

{20, 100, 40, 10, 11, 30}

In [ ]:
# update:
    - we can add multiple elements to the set

In [46]:
print(s1)
s1.update([34,56])
print(s1)

{20, 100, 40, 10, 11, 30}
{34, 56, 20, 100, 40, 10, 11, 30}

In [ ]:
# copy
    - to copy the data from one set to another set

In [49]:
print(s1)
s2=s1.copy()
print(s2)

{34, 56, 20, 100, 40, 10, 11, 30}
{34, 100, 40, 10, 11, 20, 56, 30}

In [ ]:
# remove:
    - to remove the element from a set

In [51]:
print(s1)
s1.remove(100)
print(s1)

{34, 56, 20, 100, 40, 10, 11, 30}
{34, 56, 20, 40, 10, 11, 30}

In [53]:
# discard()
print(s1)
s1.discard(20)
print(s1)

{34, 56, 20, 40, 10, 11, 30}
{34, 56, 40, 10, 11, 30}

In [ ]:
# pop:
    - it removes first element from the set

In [58]:
print(s1)
s1.pop()
print(s1)

{11, 30}
{30}

In [ ]:
# clear
    - to clear the set elements

In [60]:
print(s1)
print(s2)

{30}
{34, 100, 40, 10, 11, 20, 56, 30}

In [62]:
s2.clear()
print(s2)

set()

##### union:
    - it combines the two sets data into single set
    - syntax
            - first_set_variable.union(second_set_variable)

In [63]:
s4={1,2,3}
s5={'a','b','c','d'}
result=s4.union(s5)
print(result)

{1, 2, 3, 'c', 'b', 'd', 'a'}

##### intersection:
        - it returns common elements from two sets
        - syntax:
            set1.interssection(set2)

In [68]:
x={'apple','banana','mango'}
y={'boll','fan','banana','bag','mango'}
res1=x.intersection(y)
print(res1)

{'banana', 'mango'}

In [69]:
r1=x.intersection_update(y)
r1

#### difference()
    - the items that only exists in set x and not in set y

In [70]:
a={'apple','banana','google'}
b={'banana','ibm','fan','bag','mango'}
c=a.difference(b)
print(c)

{'google', 'apple'}